#cloud-config
hostname: k3s-server
manage_etc_hosts: true
users:
  - default
  - name: developer
    gecos: Server Administrator
    groups: [adm, sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - __SSH_PUBLIC_KEY__
ssh_pwauth: false
disable_root: true
package_update: true
package_upgrade: false
packages:
  - qemu-guest-agent
  - curl
  - ca-certificates
  - openssl
runcmd:
  - [systemctl, enable, --now, qemu-guest-agent]
  - [systemctl, enable, --now, ssh]
final_message: "Cloud-init completed after $UPTIME seconds"
