GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
BLACKBOX_EXPORTER_PORT=9115
LOKI_PORT=3100
TEMPO_PORT=3200

OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318
OTEL_METRICS_PORT=8889
OTEL_HEALTH_PORT=13133

CADVISOR_PORT=8080
NODE_EXPORTER_PORT=9100
